

body {
    min-height: 100vh; /* Занимает всю высоту экрана */
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  main {
    flex: 1; /* Растягивает основной контент, «выталкивая» футер вниз */
  }
  
  footer {
    margin-top: auto; /* Автоотступ сдвигает футер к низу */
  }
body{
  background-color: #FFF8F1;
  color:#403B3A;
}
nav{
  background-color: #B9D9D0;
}
.accent{
    background-color: #b791ef ;
}
.primary-color{
    background-color: #FCEDE5 !important;
}
.secondary-color{
    background-color: #E6DDF0 !important;
}
footer{
  background-color: #CDBBDF;
}
.text{
  color: #FFF8F1;
}
table{
  background-color: #ffffff;
}
/* Роль	Цвет	HEX	Где использовать
Шапка	мятный	#B9D9D0	navbar, логотип, навигация
Фон	молочный	#FFF8F1	вся область страницы
Основной контент	очень светлый персиково-кремовый	#FCEDE5	карточки товаров
Дополнительный контент	мягкий лавандово-голубой	#E6DDF0	бейджи, вторичные блоки, hover
Футер	лаванда	#CDBBDF	footer
Кнопки	коралловый	#F18478	«Добавить в корзину», основные CTA
Текст	тёмный коричнево-графитовый	#403B3A	заголовки, названия, описания
Вторичный текст	приглушённый серо-коричневый	#756D69	вспомогательная информация
2 вариант расцветки */

/* заголовки */
.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  /* font-size: 1.5em; */
  font-weight: 400;
  font-style: normal;
}
/* текст и кнопки */

.comfortaa{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.logo{
  max-width: 80px;
  max-height: 80px;
}
.btn-danger{
  background-color: rgb(242, 80, 80);
}
.bg-successg{
  background-color: rgb(98, 190, 129);
}

.small-card {
  max-width: 280px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}

.small-card img {
  height: 180px;
  object-fit: contain;
}

.small-card .card-body {
  padding: 15px;
}

.small-card .card-title {
  font-size: 28px;
  margin-bottom: 8px;
}

.small-card .card-text {
  font-size: 14px;
}