

body {
    min-height: 100vh; /* Занимает всю высоту экрана */
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  main {
    flex: 1; /* Растягивает основной контент, «выталкивая» футер вниз */
  }
  
  footer {
    margin-top: auto; /* Автоотступ сдвигает футер к низу */
  }
body{
  background-color: #FFF8F1;
  color:#403B3A;
}
header{
  background-color: #B9D9D0;
}
.accent{
    background-color: #ef91ba ;
}
.primary-color{
    background-color: #FCEDE5 !important;
}
.secondary-color{
    background-color: #E6DDF0 !important;
}
footer{
  background-color: #CDBBDF;
}
.text{
  color: #FFF8F1;
}
/* Роль	Цвет	HEX	Где использовать
Шапка	мятный	#B9D9D0	navbar, логотип, навигация
Фон	молочный	#FFF8F1	вся область страницы
Основной контент	очень светлый персиково-кремовый	#FCEDE5	карточки товаров
Дополнительный контент	мягкий лавандово-голубой	#E6DDF0	бейджи, вторичные блоки, hover
Футер	лаванда	#CDBBDF	footer
Кнопки	коралловый	#F18478	«Добавить в корзину», основные CTA
Текст	тёмный коричнево-графитовый	#403B3A	заголовки, названия, описания
Вторичный текст	приглушённый серо-коричневый	#756D69	вспомогательная информация
2 вариант расцветки */

/* .accent{
  background-color: #ffdcee ;
}
.primary-color{
  background-color: #ffd092 !important;
}
.secondary-color{
  background-color: #c8e9af !important;
}